<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lamorena">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_car"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/AppThemeMaterial">
        <activity
            android:name="com.example.lamorena.Activities.ProfileActivity"
            android:label="@string/title_activity_product_info"
            android:theme="@style/AppThemeMaterial.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.example.lamorena.Activities.RegistryUser"
            android:theme="@style/AppThemeMaterial" />
        <activity
            android:name="com.example.lamorena.Activities.Employee"
            android:theme="@style/AppThemeMaterial" />
        <activity
            android:name="com.example.lamorena.Activities.Service"
            android:theme="@style/AppThemeMaterial" />
        <activity
            android:name="com.example.lamorena.Activities.Insurer"
            android:theme="@style/AppThemeMaterial" />
        <activity
            android:name="com.example.lamorena.crud.registrarEmpleado"
            android:theme="@style/AppThemeMaterial" />

        <activity
            android:name="com.example.lamorena.crud.updateEmpleado"
            android:theme="@style/AppThemeMaterial" />


        <activity
            android:name="com.example.lamorena.crud.registrarServicio"
            android:theme="@style/AppThemeMaterial" />

        <activity
            android:name="com.example.lamorena.crud.updateServicio"
            android:theme="@style/AppThemeMaterial" />
        <activity
            android:name="com.example.lamorena.crud.registrarInsurer"
            android:theme="@style/AppThemeMaterial" />

        <activity
            android:name="com.example.lamorena.crud.updateInsurer"
            android:theme="@style/AppThemeMaterial" />
        <activity
            android:name="com.example.lamorena.crud.listEmpleado"
            android:theme="@style/AppThemeMaterial" />

        <activity
            android:name="com.example.lamorena.Activities.IngresoCliente"
            android:theme="@style/AppThemeMaterial" />




        <activity
            android:name="com.example.lamorena.Activities.Login"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.example.lamorena.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeMaterial.NoActionBar" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />


    </application>

</manifest>